@model BulbaClone.Models.Form

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Form</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="PokemonId" class="control-label"></label>
                <select asp-for="PokemonId" class="form-control" asp-items="ViewBag.PokemonId"></select>
                <span asp-validation-for="PokemonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isBase" /> @Html.DisplayNameFor(model => model.isBase)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Type1Id" class="control-label"></label>
                <select asp-for="Type1Id" class="form-control" asp-items="ViewBag.Type1Id"></select>
                <span asp-validation-for="Type1Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type2Id" class="control-label"></label>
                <select asp-for="Type2Id" class="form-control" asp-items="ViewBag.Type2Id"></select>
                <span asp-validation-for="Type2Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="genderRatio" class="control-label"></label>
                <input asp-for="genderRatio" class="form-control" />
                <span asp-validation-for="genderRatio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hp" class="control-label"></label>
                <input asp-for="hp" class="form-control" />
                <span asp-validation-for="hp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="atk" class="control-label"></label>
                <input asp-for="atk" class="form-control" />
                <span asp-validation-for="atk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="def" class="control-label"></label>
                <input asp-for="def" class="form-control" />
                <span asp-validation-for="def" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="spa" class="control-label"></label>
                <input asp-for="spa" class="form-control" />
                <span asp-validation-for="spa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="spd" class="control-label"></label>
                <input asp-for="spd" class="form-control" />
                <span asp-validation-for="spd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="spe" class="control-label"></label>
                <input asp-for="spe" class="form-control" />
                <span asp-validation-for="spe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ability0" class="control-label"></label>
                <input asp-for="ability0" class="form-control" />
                <span asp-validation-for="ability0" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ability1" class="control-label"></label>
                <input asp-for="ability1" class="form-control" />
                <span asp-validation-for="ability1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hiddenAbility" class="control-label"></label>
                <input asp-for="hiddenAbility" class="form-control" />
                <span asp-validation-for="hiddenAbility" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="heightm" class="control-label"></label>
                <input asp-for="heightm" class="form-control" />
                <span asp-validation-for="heightm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="weightkg" class="control-label"></label>
                <input asp-for="weightkg" class="form-control" />
                <span asp-validation-for="weightkg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="color" class="control-label"></label>
                <input asp-for="color" class="form-control" />
                <span asp-validation-for="color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="eggGroup1" class="control-label"></label>
                <input asp-for="eggGroup1" class="form-control" />
                <span asp-validation-for="eggGroup1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="eggGroup2" class="control-label"></label>
                <input asp-for="eggGroup2" class="form-control" />
                <span asp-validation-for="eggGroup2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrevoFormId" class="control-label"></label>
                <select asp-for="PrevoFormId" class="form-control" asp-items="ViewBag.PrevoFormId"></select>
                <span asp-validation-for="PrevoFormId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="evoLevel" class="control-label"></label>
                <input asp-for="evoLevel" class="form-control" />
                <span asp-validation-for="evoLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="canGigantamax" class="control-label"></label>
                <input asp-for="canGigantamax" class="form-control" />
                <span asp-validation-for="canGigantamax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="forme" class="control-label"></label>
                <input asp-for="forme" class="form-control" />
                <span asp-validation-for="forme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="requiredItem" class="control-label"></label>
                <input asp-for="requiredItem" class="form-control" />
                <span asp-validation-for="requiredItem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="evoCondition" class="control-label"></label>
                <input asp-for="evoCondition" class="form-control" />
                <span asp-validation-for="evoCondition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="evoType" class="control-label"></label>
                <input asp-for="evoType" class="form-control" />
                <span asp-validation-for="evoType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="evoItem" class="control-label"></label>
                <input asp-for="evoItem" class="form-control" />
                <span asp-validation-for="evoItem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="evoRegion" class="control-label"></label>
                <input asp-for="evoRegion" class="form-control" />
                <span asp-validation-for="evoRegion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="evoMove" class="control-label"></label>
                <input asp-for="evoMove" class="form-control" />
                <span asp-validation-for="evoMove" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
